{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}

<main id="content" role="main">

  <h1 class="heading-large text">
    Check your answers before sending your application
  </h1>

  <table class="check-your-answers">

    <thead>
      <tr>
        <th colspan="2">
          <h2 class="heading-medium">
            Using PaaS for
          </h2>
        </th>
        <th>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>
          Purpose
        </td>
        <td>
          {{ data['purpose-q'] }}
        </td>
        <td class="change-answer">
          <a href="/survey/using-paas-for">
            Change <span class="visuallyhidden">reason for using PaaS</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  {% if data["purpose-q"] == "prototyping" %}
  {% include "survey/includes/prototype-check-answers.html" %}
  {% else %}
  {% include "survey/includes/build-check-answers.html" %}
  {% endif %}

  <h2 class="heading-medium">Now submit your answers</h2>

  <p class="text">
    Thank you for taking the time to complete this survey for us. Your input will help us make the best PaaS possible for Government.
  </p>

  <div class="form-group">
    <a href="confirmation-page" class="button">Accept and submit answers</a>
  </div>

</main>

{% endblock %}
