{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">
        <span class="heading-secondary">About your service</span>
        How will your service work?</h1>

      <form class="form" action="/survey/storage-requirements" method="post">

        <fieldset class="form-group">
          <legend class="form-label-multiple-choice">
            <span class="form-label-bold">
              What programming languages are used?
            </span>
          </legend>

          {{ form.checkboxField("language-choices", "Java", "java", value="java", data) }}
          {{ form.checkboxField("language-choices", "Python", "py", value="python", data) }}
          {{ form.checkboxField("language-choices", "NodeJS", "node", value="node", data) }}
          {{ form.checkboxField("language-choices", "Scala", "scala", value="scala", data) }}
          {{ form.checkboxField("language-choices", "Ruby", "ruby", value="ruby", data) }}
          <div class="multiple-choice" data-target="language-choices-other-field">
            <input id="checkbox-lc-other" type="checkbox" name="language-choices" value="other">
            <label for="checkbox-lc-other">Other</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="language-choices-other-field">
            <label class="form-label" for="other-technologies-text">Other technologies
              <span class="form-hint">Separate items by a comma</span>
            </label>
            <input class="form-control" name="language-choices-other" type="text" id="other-technologies-text">
          </div>

        </fieldset>

        <fieldset class="form-group">
          <legend class="form-label-multiple-choice">
            <span class="form-label-bold">
              What are your plans for CI?
            </span>
          </legend>
          {{ form.radioField("ci-plans", "Whatever platform provides", "plat-prov", data) }}
          <div class="multiple-choice" data-target="tech-in-mind-field">
            <input id="radio-tech-in-mind" type="radio" name="ci-plans" value="other">
            <label for="radio-tech-in-mind">We have technologies in mind</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="tech-in-mind-field">
            {{ form.radioField("ci-tech-in-mind", "Jenkins", "tech-in-mind-jenkins", data) }}
            {{ form.radioField("ci-tech-in-mind", "Travis", "tech-in-mind-travis", data) }}
            {{ form.radioField("ci-tech-in-mind", "Circle CI", "tech-in-mind-circle", data) }}
            {{ form.radioField("ci-tech-in-mind", "Other", "tech-in-mind-other", data) }}
          </div>
        </fieldset>

        <div class="form-group">
          {{ form.textField("logging-solution", "What logging solution do you have in mind?", data, _class="form-label-bold form-label-bm") }}
        </div>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
