{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/survey/further-backing-services">Back</a>

      <h1 class="heading-large">
        <span class="heading-secondary">PaaS features</span>
        What features do you expect from a hosting platform?</h1>

      <form class="form" action="/survey/who-should-we-contact" method="post">

        <fieldset class="form-group inline">
          <legend>
            <span class="form-label-bold">
              Autoscaling
            </span>
          </legend>
          {{ form.radioField("autoscale-need", "Yes", "autos1", data) }}
          {{ form.radioField("autoscale-need", "No", "autos2", data) }}
          {{ form.radioField("autoscale-need", "Maybe at some point", "autos3", data) }}
        </fieldset>

        <fieldset class="form-group inline">
          <legend>
            <span class="form-label-bold">
              Isolated applications
            </span>
          </legend>
          <p class="help-text">Eg having own VMs</p>
          {{ form.radioField("isolated-need", "Yes", "iso1", data) }}
          {{ form.radioField("isolated-need", "No", "iso2", data) }}
          {{ form.radioField("isolated-need", "Maybe at some point", "iso3", data) }}
        </fieldset>

        <fieldset class="form-group inline">
          <legend>
            <span class="form-label-bold">
              Scheduled jobs
            </span>
          </legend>
          {{ form.radioField("scheduled-job-need", "Yes", "sch1", data) }}
          {{ form.radioField("scheduled-job-need", "No", "sch2", data) }}
          {{ form.radioField("scheduled-job-need", "Maybe at some point", "sch3", data) }}
        </fieldset>

        <fieldset class="form-group inline">
          <legend>
            <span class="form-label-bold">
              Anti-virus scanning
            </span>
          </legend>
          {{ form.radioField("antivirus-need", "Yes", "anti1", data) }}
          {{ form.radioField("antivirus-need", "No", "anti2", data) }}
          {{ form.radioField("antivirus-need", "Maybe at some point", "anti3", data) }}
        </fieldset>

        <fieldset class="form-group inline">
          <legend>
            <span class="form-label-bold">
              Secrets management
            </span>
          </legend>
          {{ form.radioField("secrets-management-need", "Yes", "sec1", data) }}
          {{ form.radioField("secrets-management-need", "No", "sec2", data) }}
          {{ form.radioField("secrets-management-need", "Maybe at some point", "sec3", data) }}
        </fieldset>

        <fieldset class="form-group">
          <legend>
            <span class="heading-medium">
              Docker
            </span>
          </legend>
          <p>We have recently added docker support to the PaaS but it would be useful for us to know what kind of docker support services need.</p>

          <div class="form-group inline">
            <p class="form-label-bold">Docker - public images</p>
            {{ form.radioField("docker-pub-need", "Yes", "dpub1", data) }}
            {{ form.radioField("docker-pub-need", "No", "dpub2", data) }}
            {{ form.radioField("docker-pub-need", "Maybe at some point", "dpub3", data) }}
          </div>

          <div class="form-group inline">
            <p class="form-label-bold">Docker - private images</p>
            {{ form.radioField("docker-priv-need", "Yes", "dpriv1", data) }}
            {{ form.radioField("docker-priv-need", "No", "dpriv2", data) }}
            {{ form.radioField("docker-priv-need", "Maybe at some point", "dpriv3", data) }}
          </div>

          <div class="form-group inline">
            <p class="form-label-bold">Docker - building images</p>
            {{ form.radioField("docker-build-need", "Yes", "dbuild1", data) }}
            {{ form.radioField("docker-build-need", "No", "dbuild2", data) }}
            {{ form.radioField("docker-build-need", "Maybe at some point", "dbuild3", data) }}
          </div>
        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
          <a class="skip-link" href="/survey/who-should-we-contact">Skip this question</a>
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
