{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <a class="link-back" href="/url/of/previous/page">Back</a>

      <h1 class="heading-large">Are you the best person to contact about the technical aspects of your service?</h1>

      <form class="form" action="/survey/check-your-answers" method="post">

        <fieldset class="form-group">
          <legend class="visually-hidden">
            Are you the best person to contact about the technical aspects of your service?
          </legend>

          {{ form.radioField("person-to-contact", "Yes", "you", data) }}
          <div class="multiple-choice" data-target="person-to-contact-field">
            <input id="person-to-contact-other" type="radio" name="person-to-contact" value="other">
            <label for="person-to-contact-other">Other</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="person-to-contact-field">
            <div class="form-group">
              {{ form.textField("person-to-contact-name", "Name", data) }}
            </div>
            <div class="form-group">
              {{ form.textField("person-to-contact-email", "Email", data) }}
            </div>
          </div>

        </fieldset>

        <div class="form-group">
          <input class="button" type="submit" value="Continue">
        </div>

      </form>

    </div>
  </div>
</main>

{% endblock %}
