<table class="check-your-answers">

  <thead>
    <tr>
      <th colspan="2">
        <h2 class="heading-medium">
          Prototype details
        </h2>
      </th>
      <th>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        Using a prototyping kit
      </td>
      <td>
        {% if data['prototype-kit-choice'] == "other" %}Other: {{ data['other-proto-kit'] }} {% else %} {{ data['prototype-kit-choice'] }} {% endif %}
      </td>
      <td class="change-answer">
        <a href="/survey/additional-prototype-features">
          Change <span class="visuallyhidden">service statue</span>
        </a>
      </td>
    </tr>
    <tr>
      <td>
        Need database
      </td>
      <td>
        {{ data['prototype-db-need'] }}
      </td>
      <td class="change-answer">
        <a href="/survey/additional-prototype-features">
          Change <span class="visuallyhidden">who service is for</span>
        </a>
      </td>
    </tr>
  </tbody>
</table>